<app-toolbar [form]="form" (search)="search($event)"></app-toolbar>

<app-twitter-user *ngIf="twitterUser" [user]="twitterUser"></app-twitter-user>


<app-pagination
  *ngIf="totalNumberOfTweets && this.form && this.form.get('pageSize')"
  [length]="totalNumberOfTweets"
  [pageSize]="form.get('pageSize').value"
  [options]="pageSizeOptions"
  (page)="pageChanged($event)"
>
</app-pagination>

<ng-container *ngIf="loaded">
  <mat-list class="tweet-list" *ngIf="tweets.length">
    <app-tweet mat-list-item *ngFor="let tweet of tweets" [tweet]="tweet"></app-tweet>
  </mat-list>
</ng-container>

<app-loader *ngIf="!loaded"></app-loader>



<app-pagination
  *ngIf="totalNumberOfTweets && this.form && this.form.get('pageSize')"
  [length]="totalNumberOfTweets"
  [pageSize]="form.get('pageSize').value"
  [options]="pageSizeOptions"
  (page)="pageChanged($event)"
>
</app-pagination>
