mat-card {
  width: auto;
  form {
    width: 100%;

    .channel-form-field {
      width: calc(100% - 70px);
      margin-right: 10px;
    }

    .mat-button {
      min-width: 60px;
      width: 60px;
    }

  }

}
