<div class="background"
     [style.backgroundImage]="'url(' + user.profile_banner_url + ')'"
     [style.backgroundColor]="'#' + (user.profile_background_color)"
>

  <div class="profile-picture"
    [style.backgroundImage]="'url(' + (user.profile_image_url_https || user.default_profile_image) + ')'"
    [style.borderColor]="'#' + user.profile "
       >
  </div>

</div>

<div class="user-body">
  <div class="name">
    {{user.name}}
  </div>

  <div class="screen-name">
    @{{user.screen_name}}
  </div>

  <div class="description">
    {{user.description}}
  </div>
</div>

